* {
  margin: 0;
  padding: 0;
}

h1 { 
  padding: 10px;
  font-size: 2rem;
  color: #000000;
  font-weight: 550;
  text-transform: uppercase;
}

h2 {
  padding: 10px;
  font-size: 1.5rem;
  color: #000000;
  font-weight: 450;
}

h3 {
  padding: 10px;
  font-size: 1rem;
  color: #000000;
  font-weight: 450;
}

header {
  font-family: Helvetica;
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  flex-direction: row;
  background: #ff542f;
  justify-content: space-between;
}

a._page {
  color: black;
  margin: 5px 5px 5px 5px;
  background-color: transparent;
  padding: 10px;
  text-decoration: none;
}

a._page:hover {
  text-decoration: underline; 
  text-decoration-thickness: 5px;
}





nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
 

.main-content {
  padding: 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

footer {
  background: black;
}
